.inquiry-card {
  padding-bottom: 40px;

  &-header {
    @include text-style(12);
    margin-bottom: 8px;

    .detail,
    .misc {
      @include flexbox(start);

      dd,
      strong {
        &::after {
          margin: 0 4px;
          content: '|';
        }
      }

      dd:last-child::after {
        content: none;
      }
    }

    .detail {
      color: $primary;
      margin-bottom: 8px;
    }

    .misc {
      color: $tertiary;

      strong {
        font-weight: 400;
      }
    }
  }

  &-body {
    @include text-style(13);
    .inquiry-content {
      position: relative;
      padding-left: 20px;

      &:first-child:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    .seller {
      @include flexbox(start);
      margin-bottom: 4px;

      strong {
        margin-right: 4px;
      }

      time {
        @include text-style(13, $tertiary);
      }
    }

    span {
      color: $blue;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
    }

    p {
      @include flexbox(start);
      color: $primary;

      i {
        margin-right: 8px;
        filter: invert(87%) sepia(9%) saturate(126%) hue-rotate(194deg)
          brightness(81%) contrast(93%);
        width: 16px;
        height: 16px;

        &::before {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }

    &-body {
      @include text-style(14);

      .inquiry-content {
        padding-left: 24px;

        &:first-child:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      .seller {
        margin-bottom: 8px;

        strong {
          @include text-style(16);
        }
      }

      span {
        @include text-style(16);
      }
    }
  }
}
