.lnb {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    position: relative;
    left: -8px;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      height: 40px;
      padding: 0px 8px;
    }

    .ic-new {
      color: red;
    }
  }
}
